@model ShopShoe.Models.SanPham

@{
    ViewBag.Title = "Them";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Them moi Xe</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Them", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label class="col-md-2">Tên sản phẩm</label>
                        <div class="col-md-4">@Html.TextBoxFor(model => model.TenSanPham, new { @class = "form-control" })</div>

                        <label class="col-md-2">Số lượng</label>
                        <div class="col-md-4">@Html.TextBoxFor(model => model.SoLuong, new { @class = "form-control" })</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Giá</label>
                        <div class="col-md-4">@Html.TextBoxFor(model => model.GiaSanPham, new { @class = "form-control" })</div>
                        <label class="col-md-2">Ngày sản xuất</label>
                        <div class="col-md-4">@Html.TextBoxFor(model => model.NamSX, new { @class = "form-control" })</div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Xuất xứ</label>
                        <div class="col-md-4">@Html.TextBoxFor(model => model.XuatSu, new { @class = "form-control" })</div>
                        <label class="col-md-2">Kiểu dáng</label>
                        <div class="col-md-4">@Html.TextBoxFor(model => model.KieuDang, new { @class = "form-control" })</div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Ảnh</label>
                        <div class="col-md-4">@Html.TextBoxFor(model => model.Anh, new { htmlAttributes = new { @class = "form-control" }, @type = "file" })</div>
                        <label class="col-md-2">Loại sản phẩm</label>
                        <div class="col-md-4">@Html.DropDownList("ID_Loai", ViewBag.LoaiXe as SelectList, new { @class = "form-control" })</div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Mô tả</label>
                        @Html.TextAreaFor(model => model.MoTaSanPham, new { @class = "form-control", @rows = "10" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn">Thêm mới</button>
                        </div>

                    </div>
                }

                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

</div>
