@model ShopShoe.Models.KhachHang

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Khách Hàng</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
         
            <!-- /.panel-heading -->
            <div class="panel-body">
             <div class="col-md-12">
                 <div class="col-md-6">
                     <div class="panel panel-default">
                         <div class="panel-heading">Thông Tin Khách Hàng</div>
                         <div class="panel-body">
                             <div class="form-group">
                                 <label>Tên KH : </label>
                                 @Model.Ten
                             </div>
                             <div class="form-group">
                                 <label>Số điện thoại :</label>
                                 @Model.SDT
                             </div>
                             <div class="form-group">
                                 
                                 <label>Địa Chỉ : </label>
                                 @Model.DiaChi
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="panel panel-default">
                         <div class="panel-heading">Thông Tin Đăng Nhập</div>
                         <div class="panel-body">
                             <div class="form-group">
                                 <label>Email : </label>
                                 @Model.Email
                             </div>
                             <div class="form-group">
                                 <label>Mật Khẩu</label>
                                 <input class="form-control col-md-6"  value="@Model.MatKhau" type="password" id="PassWord"/>
                                 <button class="btn btn-primary btn-sm" id="Show"><i class="fa fa-eye"></i></button>
                             </div>
                             
                         </div>
                     </div>
                 </div>
             </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

</div>
@section scripts {
<script>
        $('#Show').on('click', function () {
            if ($('#PassWord').prop('type') == 'text') {
                $('#PassWord').prop('type', 'password');
                return;
            }
            if ($('#PassWord').prop('type') == 'password') {
                $('#PassWord').prop('type', 'text');
                return;
            }
        });
</script>
}